<template name="register">
	
	<div>
		<img id = "logo" class='animated flipInY' src="/pictures/logo3.jpg">
	</div>

	<div class= "regform" >

	    <form class="form">
	    	<input type="email" id="inputEmail" class="form-control" placeholder="Email" style="outline:none" required autofocus>
	        <input type="password" id="inputPassword" class="form-control" placeholder="Password" style="outline:none" required>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	    </form>

	</div>

</template>



       