/*Designed by Calvin Yin*/

body {
	text-align: right;
	background: url('/pictures/9.jpg') no-repeat center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
/*	overflow: hidden;
*/	height: 100%;
}

#logo{
	margin: 0 auto;
	display: block;
    width: 20%;
    padding: 10px;

}

.regform {
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
}

.login-form {
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
}

.form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}

.form input[type="email"] {
  margin-top: 25px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline:none;
}

.form input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline:none;
}

.form button[type="submit"]{
  margin-top: -1px;
  padding: 15px;
}



